.aboutContainer {
    display: flex;
    justify-content: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.emailContainer {
    display: flex;
    justify-content: center;
    animation: fadeIn 3s; 
}

.aboutBox {
    display: flex;
    justify-content: center;
    width: 950px;
    margin: 20px;
    animation: fadeIn 3s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .imgbox {
    display: flex;
    justify-content: center;
  }

  .imgsrc {
    display: flex;
    justify-content: center;
    width: 950px;
    animation: fadeIn 3s; 
  }

 