
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.headerMain {
    font-family: 'Work Sans', sans-serif;
}

.homeFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navToolsTopLeft {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.navToolsTopRight {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.registerLink {
    margin-right: 20px;
}

.userLink {
    margin-right: 20px;
}

.logoutLink {
    margin-right: 20px;
}

.navToolsTitle {
    display: flex;
    justify-content: center;
    
}

.headerMain {
    border-bottom: 1px solid rgb(186, 186, 186);
    margin-left: 150px;
    margin-right: 150px;
}

.navToolsSub {
    display: flex;
    justify-content: space-around;
    margin-left: 575px;
    margin-right: 575px;
    padding: 30px;
    color: grey;
}

a {
    color: grey;
} 

a {
    position: relative;
}

a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    right: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    
  }

  a:hover:before {
    visibility: visible;
    width: 100%;
  }

  a:hover {
    color: black;
    transition:all 0.7s ease-in-out;
    transition: 0.7s;
  }